.AddRoute {
    .title {
        padding: 30px;
        text-align: center;
    }

    .buttonWrapper {
        height: 30px;
        display: flex;

        >* {
            flex: 1;
            border: 2px solid black;
        }
        .selected {
            border: 2px solid red;
            background-color: rgb(157, 114, 114)
        }

    }

    input {
        width: 100%;
        height: 25px;
    }

}