.MainDefault {

    .title {
        padding: 50px;
        border-bottom: 0.1px solid black;
        text-align: center;
    }

    .EachRoute {
        border-bottom: 0.1px solid black;
        padding: 15px;
    }

    .addRoute {
        padding: 50px;
        border-bottom: 0.1px solid black;
        text-align: center;
    }
}